In [1]:
#1

import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [2]:
df['FlightNumber'] = df['FlightNumber'].ffill() + 10
df['FlightNumber'] = df['FlightNumber'].astype(int)

In [3]:
#2.

import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

temp_df = df["From_To"].str.split("_", expand=True)
temp_df.columns = ["From", "To"]

df = pd.concat([df, temp_df], axis=1)
df = df.drop(["From_To"], axis=1)

print(df)

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    LoNDon      paris
1           NaN            []    <Air France> (12)    MAdrid      miLAN
2       10065.0  [24, 43, 87]  (British Airways. )    londON  StockhOlm
3           NaN          [13]       12. Air France  Budapest      PaRis
4       10085.0      [67, 32]          "Swiss Air"  Brussels     londOn

In [4]:
#3

import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

temp_df = df["From_To"].str.split("_", expand=True)
temp_df.columns = ["From", "To"]
temp_df["From"] = temp_df["From"].str.capitalize()
temp_df["To"] = temp_df["To"].str.capitalize()

df = pd.concat([df, temp_df], axis=1)
df = df.drop(["From_To"], axis=1)

print(df)

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1           NaN            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3           NaN          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

In [5]:
#4


import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

temp_df = df["From_To"].str.split("_", expand=True)
temp_df.columns = ["From", "To"]
temp_df["From"] = temp_df["From"].str.capitalize()
temp_df["To"] = temp_df["To"].str.capitalize()

df = df.drop(["From_To"], axis=1)
df = pd.concat([df, temp_df], axis=1)

print(df)

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1           NaN            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3           NaN          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

In [6]:
#5

import pandas as pd

# Create the DataFrame
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 'Budapest_PaRis', 'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})

# Create the delays DataFrame
delays = pd.DataFrame(df['RecentDelays'].values.tolist())

# Rename the columns
delays.columns = ['delay_{}'.format(i+1) for i in range(delays.shape[1])]

# Drop the RecentDelays column
df.drop('RecentDelays', axis=1, inplace=True)

# Join the delays DataFrame
df = pd.concat([df, delays], axis=1)

# Print the updated DataFrame
print(df)

            From_To  FlightNumber              Airline  delay_1  delay_2  \
0      LoNDon_paris       10045.0               KLM(!)     23.0     47.0
1      MAdrid_miLAN           NaN    <Air France> (12)      NaN      NaN
2  londON_StockhOlm       10065.0  (British Airways. )     24.0     43.0
3    Budapest_PaRis           NaN       12. Air France     13.0      NaN
4   Brussels_londOn       10085.0          "Swiss Air"     67.0     32.0

   delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN